//
//  Common.xcconfig
//  OTTHub
//
//  Created by Mehul Bhavani on 12/24/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CURRENT_PROJECT_VERSION = 220330
MARKETING_VERSION = 2.1
COPYRIGHT_INFO = Copyright © 2019-21 mehulb. All rights reserved.
